$gold: #C5A15D;

//about us Top site
.aboutTop {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100%;
}


//about top Text------------------------------------------------------
.aboutCard-container{
  display: flex;
  width: 50%;
}
.aboutCard{
  position: relative;
  z-index: 40;
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  transition: all 1s ease;
}

.aboutCard-text{
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 32;
  width: 100%;
  padding-left: 100px;
  margin-top: 30px;
  //margin-top: -100px;
  p{
    color: white;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  h1{
    font-size: 66px;
    color: $gold;
  }
  .contactCard {
    display: flex;
    justify-content: flex-start;
    margin-top: 70px;
    width: 100%;
    height: 60px;
    min-width: 500px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: unset;
      height: 100%;
      font-size: 18px;
      background-color: unset;
      transition: all 0.3s ease;
      border-radius: 4px;
      color: $gold;
      border: none;
      cursor: pointer;
      font-weight: bold;
      letter-spacing: 1px;
      img {
        margin-left: 20px;
        filter: invert(97%) sepia(19%) 
        saturate(3706%) hue-rotate(309deg) brightness(83%) contrast(83%);
      }
    }
    button:hover {
      background-color:unset;
      color: $black;
      img{
        filter: unset;
      }
    }
  }
}

.aboutText-end{
  p{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  color: $gold;
  font-style: italic;
  font-weight: 300;
  }
}


//about top IMG------------------------------------------------------
.img-container{
  display: flex;
  justify-content: center;
  width: 60%;
}
.aboutTop_img{
  display: none;
  img{
    position: relative;
    z-index: 32;
    border:  1px $gold solid;
    border-radius: 10px;
    width: 500px;
  }
}





//about top Animationen------------------------------------------------------
@keyframes aboutcard_animation {
  from {
    height: 0px;
    margin-top: 500px;
    opacity: 0%;
  }
  to {
    height: 500px;
    margin-top: 0px;
    opacity: 100%;
  }
}

@keyframes hide_anim {
  from {
    margin-top: 0px;
    opacity: 0;
  }
  to {
    margin-top: -50px;
    opacity: 1;
  }
}


@keyframes text_anim {
  from {
    margin-top: 50px;
    opacity: 0%;
  }
  to {
    margin-top: 0px;
    opacity: 100%;
  }
}

@keyframes img_anim {
  from {
    margin-top: 250px;
  }
  to {
    margin-top: 0px;
  }
}



//Text Animation
.flip-in-diag-1-bl {
	-webkit-animation: flip-in-diag-1-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-diag-1-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes flip-in-diag-1-bl {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, -80deg);
            transform: rotate3d(1, 1, 0, -80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}
@keyframes flip-in-diag-1-bl {
  0% {
    -webkit-transform: rotate3d(1, 1, 0, 30deg);
            transform: rotate3d(1, 1, 0, 30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
            transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1;
  }
}



.tilt-in-tl {
	-webkit-animation: tilt-in-tl 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tilt-in-tl 0.65s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-21 0:2:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tilt-in-tl
 * ----------------------------------------
 */
 @-webkit-keyframes tilt-in-tl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
            transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-tl {
  0% {
    -webkit-transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
            transform: rotateY(35deg) rotateX(20deg) translate(-250px, -250px) skew(12deg, 15deg);
            
    opacity: 0%;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
            transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 100%;
  }
}




.slide-rotate-hor-top {
	-webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-21 0:7:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-rotate-hor-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-rotate-hor-top {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(-50px) rotateX(-90deg);
            transform: translateY(-50px) rotateX(-90deg);
  }
}
@keyframes slide-rotate-hor-top {
  0% {
    -webkit-transform: translateY(50px) rotateX(-90deg);
            transform: translateY(50px) rotateX(-90deg);
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }

}




.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-9-21 0:16:10
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

